.pageContainer {
	width: 100%;
	height: 100%;
}

.page {
	width: 8.3in; /* + .2in padding */
	height: 10.8in; /* + .2in padding */
	padding: 0.4in 0.5in;
	margin: 0 auto;
	page-break-after: always;
}

.buttonContainer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

.buttonContainer button {
	width: 30px;
	height: 30px;
	background: none;
	border: none;
	outline: none;
}

.label5160 {
	width: 2.025in;
	height: 0.875in;
	padding: 0.125in 0.3in 0;
	margin-inline-end: 0.125in;
	float: left;
	text-align: center;
	overflow: hidden;
}

.label5167 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 1.55in; /* + .2in padding */
	height: 0.5in;
	padding-inline: 0.1in;
	margin-inline-end: 0.35in;
	float: left;
	text-align: left;
	overflow: hidden;
	outline: 1px dotted;
	font-size: 0.7em;
}

.label5167:nth-of-type(4n + 4) {
	margin-inline-end: 0;
}

.label5960 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 2.43in;
	height: 1in;
	padding-inline: 0.1in;
	float: left;
	text-align: left;
	outline: 1px dotted;
	font-size: 1em;
}

.label5960:nth-of-type(3n + 3) {
	margin-inline-end: 0;
}

@media print {
	.buttonContainer {
		display: none;
	}
}
